# Configuration file

~CONFIG_VERSION: 0.1.0

world-78688046 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=spawn
    B:overlayEnabled=true
}


world784703956 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=cursed
    B:overlayEnabled=true
}


world856597519 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=crusher
    B:overlayEnabled=true
}


world856597520 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=crop
    B:overlayEnabled=true
}


world856597521 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=hel
    B:overlayEnabled=true
}


world856597522 {
    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=true

    # Hide and unhide items by clicking them in the item list.
    B:editEnabled=false
    S:filterText=wither

    # Show the list of items next to open guis.
    B:overlayEnabled=true
}


